<!DOCTYPE html>
<html>
    <head>
        <%- include('./header'); %>
    </head>
    <body>
        <% if(locals.onSavedPage) { %>
            <h1>Saved Listing</h1>
            <form id="search-box" method="get">
            <input type="hidden" id="page" name="page" value="mysaved">
        <% } else if(locals.onMyPage) { %>
            <h1>My Listing</h1>
            <form id="search-box" method="get">
            <input type="hidden" id="page" name="page" value="mylistings">
        <% } else { %>
            <h1>Listing</h1>
            <form id="search-box" method="get">
        <% } %>
            <label for="search">Search: </label>
            <input type="text" id="search" name="search"/>
            <input type="submit" value="Search" />
        </form>
        <table>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Save</th>
            <% for(let i = 0; i<listings.length; i++) { %>
                <tr>
                    <td><a href="/listing/<%=  listings[i].listing_id %>"><%=  listings[i].title %></a></td>
                    <td><%=  listings[i].description %></td>
                    <td>$ <%=  listings[i].price / 100 %></td>
                    <td>
                        <% if(locals.onSavedPage) { %>
                            <form id="registrationForm" action="/unsave-listing/<%=  listings[i].listing_id %>" method="post">
                            <input type="submit" value="Unsave" />
                            </form>
                        <% } else if(locals.onMyPage) { %>
                            <form id="registrationForm" action="/update-listing/<%=  listings[i].listing_id %>" method="get">
                                <input type="submit" value="Edit" />
                            </form>
                            <form id="registrationForm" action="/delete-listing/<%= listings[i].listing_id %>" method="post">
                                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want delete this?')" />
                            </form>
                        <% } else { %>
                            <form id="registrationForm" action="/save-listing/<%=  listings[i].listing_id %>" method="post">
                                <input type="submit" value="Save" />
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </table>
    </body>
</html>